@font-face {
    font-family: 'Chivo';
    src: url(./Chivo-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo';
}

body {
    background-color: #f5f5f5;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container h2 {
    padding-top: 30px;
}

header {
    z-index: 10;
    background-color: #000000;
    color: #fff;
    display: inline-flexbox;
    position: fixed; 
    width: 100%;
    top: 0;
}

header img {
    max-width: 250px;
    justify-content: left;
    filter: invert(1);
    bottom: 10px;
    position: absolute;
}

header nav {
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header ul li {
    display: inline;
    margin-right: 20px;
}

header a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

body {
    padding-top: 100px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    max-width: 600px;
    text-align: justify;
}

.database{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flexbox;
    justify-content: center;
}

.film {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 500px;
    display: flex;
    flex-flow: row;
    position: relative;
    justify-content: left;
}

.film .text {
    padding-left: 20px;
    display: inline-block;
    text-align: justify;
}

.film img {
    width: 202px;
    align-self: center;
    height: 300px;
    top: 50%;
    border-radius: 10px;
}

.film a {
    font-size: 24px;
    font-weight: bolder;
    text-decoration: underline;
    color: #D80032;
    margin: 10px 0;
}

.film p {
    font-size: 16px;
    margin: 10px 0;
    max-width: 300px;
    max-height: 300px;
}

.film h4 {
    font-size: 16px;
    font-weight: 200;
    color: #7b7b7b;
    max-width: 300px;
    max-height: 300px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.banner {
    top: -20px;
    display: flex;
    margin-top: -50px;
    text-align: center;
    background-image: url(./banner.png);
    background-size: cover;
    z-index: 0;
    position: relative;
    max-width: 100%;
    height: 500px;
    flex-direction: column;
    justify-content: center; 
}

.banner h1 {
    font-weight: 500;
    background-color: #3333339d;
    color: white;
    font-size: 90px;
    z-index: 1; 
    position: relative; 
}

/* Vyhledávací lišta a tlačítko */
#nove-jmeno-filmu {
    font-family: 'Chivo';
    font-size: 18px;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    width: 300px;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
}

#aktualizovat-film-button {
    font-family: 'Chivo';
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    background-color: #D80032;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Styl pro vstupní pole a tlačítko při najetí myši */
#nove-jmeno-filmu:hover {
    background-color: #fff;
    color: #333;
}

#aktualizovat-film-button:hover {
    background-color: #333;
}
